{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static './css/form.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <!-- Formulario para buscar usuario por DNI -->
    <div class="search__user">
        <form method="GET" action="{% url 'calificacion' %}">
            <div class="form__field">
                <label for="{{ formCali.dni.id_for_label }}" class="required">{{ formCali.dni.label }}</label>
                {{ formCali.dni}}
                <button type="submit" class="form__button">Buscar</button>
            </div>
        </form>
        {% if userSearch %}
            {% if usuario %}
                <!-- Detalles del usuario -->
                <div class="user__details">
                    {% if usuario.profile_picture and usuario.profile_picture.url %}
                        <img src="{{ usuario.profile_picture.url }}" alt="Foto de perfil" class="user__profile-picture">
                    {% else %}
                        <img src="{% static 'img/default.png' %}" alt="Foto de perfil" class="user__profile-picture">
                    {% endif %}
                    <h3>{{ usuario.first_name }} {{ usuario.last_name }}</h3>
                    <p>Email: {{ usuario.email }}</p>
                    <p>Rol: {{ usuario.get_rol_display }}</p>
                </div>
            {% else %}
                <p>DNI no existe.</p>
            {% endif %}
        {% endif %}
    </div>


    <!-- Formulario de calificación -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__container">
            <div class="form__field">
                <label for="{{ formCali.asignatura.id_for_label }}" class="required">{{ formCali.asignatura.label }}</label>
                {{ formCali.asignatura }}
            </div>
            <div class="form__field">
                <label for="{{ formCali.actividad.id_for_label }}" class="required">{{ formCali.actividad.label }}</label>
                {{ formCali.actividad }}
            </div>
            <div class="form__field">
                <label for="{{ formCali.nota.id_for_label }}" class="required">{{ formCali.nota.label }}</label>
                {{ formCali.nota }}
            </div>
            <div class="form__field">
                <label for="{{ formCali.comentario.id_for_label }}" class="required">{{ formCali.comentario.label }}</label>
                {{ formCali.comentario }}
            </div>
            <div class="form__field">
                <label for="{{ formCali.fecha_entrega.id_for_label }}" class="required">{{ formCali.fecha_entrega.label }}</label>
                {{ formCali.fecha_entrega }}
            </div>
        </div>
        <footer class="form__footer">
            <input type="submit" value="Enviar" class="form__button" />
        </footer>
    </form>
</div>
{% endblock %}